*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.board {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}

.cell {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
  cursor: pointer;
}

.cell.x,
.cell.circle {
  position: relative;
  cursor: not-allowed
}

.cell.x::before {
	content: '';
	width: 10px;
	height: 90px;
	background-color: black;
	position: absolute;
	transform: rotate(45deg);
}
.cell.x::after {
	content: '';
	width: 10px;
	height: 90px;
	background-color: black;
	position: absolute;
	transform: rotate(-45deg);
}

.cell.circle::before {
	content: '';
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-color: black;
	position: absolute;
}

.cell.circle::after {
	content: '';
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(3n + 1) {
	border-left: none;
}

.cell:nth-child(3n + 3) {
	border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
	border-bottom: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.reset {
  cursor: pointer;
  font-size: 2rem;
  padding: 5px 10px;
  border-radius: 10%;
}

.show {
  display: flex;
}